Repository sbroenne/RvToolsMerge, changes with the labels that .github/labeler.yml gives for each.
All labels: priority: high, priority: medium, size: small, size: large, component: core, component: ui, component: excel, component: data, type: tests, type: documentation, type: configuration, type: build, type: dependencies, ci/cd, security, performance, external-dependencies, rvtools-data, breaking-change

.github/labeler.yml:

# GitHub PR Labeler Configuration
# Automatically applies labels to PRs based on changed files

# Priority Labels
'priority: high':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Security/**/*.cs', 'src/**/Data/**/*.cs']

'priority: medium':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Services/**/*.cs']

# Size Labels
'size: small':
- changed-files:
  - any-glob-to-any-file: ['**/*.md', '**/*.txt', '**/*.json', '**/*.yml']

'size: large':
- changed-files:
  - any-glob-to-any-file: ['**/*.csproj', '**/*.sln', 'src/Core/**/*.cs']

# Component Labels
'component: core':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Models/**/*.cs', 'src/**/Interfaces/**/*.cs']

'component: ui':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Console/**/*.cs', 'src/**/Interactive/**/*.cs']

'component: excel':
- changed-files:
  - any-glob-to-any-file: ['src/**/Excel/**/*.cs', 'src/**/ClosedXML/**/*.cs', 'src/**/RVTools/**/*.cs']

'component: data':
- changed-files:
  - any-glob-to-any-file: ['src/**/Data/**/*.cs', 'src/**/Repository/**/*.cs', 'src/**/Entities/**/*.cs']

# Type Labels
'type: feature':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs', '!**/*.Test.cs', '!**/*.Tests.cs']

'type: tests':
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*.cs'
    - 'src/**/*Test*.cs'
    - 'src/**/*Tests.cs'
    - '**/*.Test.cs'
    - '**/*.Tests.cs'
    - '**/TestData/**/*'

'type: documentation':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**/*'
    - '**/*.txt'
    - '**/README.*'
    - 'LICENSE*'
    - '**/CHANGELOG.*'
    - '**/CONTRIBUTING.*'

'type: configuration':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yml'
    - '**/*.yaml'
    - '**/*.config'
    - '**/appsettings*.json'
    - '**/launchSettings.json'
    - '**/.editorconfig'

'type: build':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.csproj'
    - '**/*.sln'
    - '**/Directory.Build.props'
    - '**/Directory.Build.targets'
    - '**/nuget.config'
    - '**/global.json'
    - 'Dockerfile*'
    - '.github/workflows/**/*'

'type: dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.lock.json'
    - '**/package.json'
    - '**/package-lock.json'
    - '**/yarn.lock'
    - '**/Directory.Packages.props'
    - '**/PackageReference.props'

# CI/CD Labels
'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/**/*'
    - 'azure-pipelines.yml'
    - '.github/workflows/**/*'
    - '.github/dependabot.yml'
    - 'scripts/**/*'

# Security Labels
'security':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Security/**/*.cs'
    - 'src/**/Authentication/**/*.cs'
    - 'src/**/Authorization/**/*.cs'

# Performance Labels
'performance':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Performance/**/*.cs'
    - 'src/**/Optimization/**/*.cs'
    - 'src/**/Parallel/**/*.cs'

# Refactoring Labels
'refactoring':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs']

# External Dependencies
'external-dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.config'
    - '**/paket.dependencies'
    - '**/paket.lock'

# RVTools Specific
'rvtools-data':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/RVTools/**/*.cs'
    - 'src/**/VMware/**/*.cs'
    - 'src/**/Export/**/*.cs'
    - 'testdata/**/*.xlsx'
    - 'testdata/**/*.xls'

# Breaking Changes
'breaking-change':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Interfaces/**/*.cs'
    - 'src/**/Contracts/**/*.cs'
    - 'src/Core/**/*.cs'

chore: bump version to 1.4.2 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

deploy: 38a5833d504a4a1069c996309ee69ad03ee60da2
  coverage.svg
Labels: none

deploy: 9978efbaf34e95fccffef4fbcebbd27de4104b87
  coverage.svg
Labels: none

Prepare for winget submission - Add version consistency validation and documentation (#178)
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/README.md
  CONTRIBUTING.md
  WINGET_PREPARATION_SUMMARY.md
  docs/continuous-integration.md
  docs/winget-submission-setup.md
  installer/README.md
  tests/RVToolsMerge.IntegrationTests/WingetVersionConsistencyTests.cs
Labels: size: small, type: tests, type: documentation, ci/cd

deploy: 47df2920323b54f3f2533e43a05d769120994c7c
  coverage.svg
Labels: none

Fix Spectre.Console markup error and make Datacenter column optional
  src/RVToolsMerge/ApplicationRunner.cs
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  src/RVToolsMerge/RVToolsMerge.csproj
  src/RVToolsMerge/Services/ConsoleUIService.cs
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
  tests/RVToolsMerge.UnitTests/ConsoleUIServiceTests.cs
  tests/RVToolsMerge.UnitTests/RVToolsMerge.UnitTests.csproj
Labels: priority: medium, size: large, type: tests, type: build

Fix Spectre.Console markup error and make Datacenter column optional (#184)
  src/RVToolsMerge/ApplicationRunner.cs
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  src/RVToolsMerge/RVToolsMerge.csproj
  src/RVToolsMerge/Services/ConsoleUIService.cs
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
  tests/RVToolsMerge.UnitTests/ConsoleUIServiceTests.cs
  tests/RVToolsMerge.UnitTests/RVToolsMerge.UnitTests.csproj
Labels: priority: medium, size: large, type: tests, type: build

deploy: 631e0e1897557572906e989395d11c50c09fa101
  coverage.svg
Labels: none

chore: bump version to 1.4.3 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

deploy: ad15265a13ef6e3795e0fdd1f0190c976278e38a
  coverage.svg
Labels: none

Upgrade project to .NET 10
  .github/codeql-config.yml
  .github/copilot-instructions.md
  .github/workflows/build.yml
  .github/workflows/code-coverage.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dotnet.yml
  .vscode/launch.json
  .vscode/settings.json
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  global.json
  src/RVToolsMerge/RVToolsMerge.csproj
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
  tests/RVToolsMerge.UnitTests/RVToolsMerge.UnitTests.csproj
Labels: size: small, size: large, type: documentation, type: configuration, type: build, ci/cd

Update dependencies and improve code quality
  src/RVToolsMerge/RVToolsMerge.csproj
  src/RVToolsMerge/Services/CommandLineParser.cs
  src/RVToolsMerge/Services/ExcelService.cs
  src/RVToolsMerge/Services/MergeService.cs
  src/RVToolsMerge/Services/SpectreConsoleService.cs
  src/RVToolsMerge/Services/ValidationService.cs
  tests/RVToolsMerge.IntegrationTests/AnonymizationMapFileTests.cs
  tests/RVToolsMerge.IntegrationTests/AnonymizationServiceExtendedTests.cs
  tests/RVToolsMerge.IntegrationTests/AnonymizationServiceTests.cs
  tests/RVToolsMerge.IntegrationTests/BasicMergeTests.cs
  tests/RVToolsMerge.IntegrationTests/CommandLineTests.cs
  tests/RVToolsMerge.IntegrationTests/ConsoleUIServiceTests.cs
  tests/RVToolsMerge.IntegrationTests/EnhancedExcelServiceTests.cs
  tests/RVToolsMerge.IntegrationTests/ExcelServiceTests.cs
  tests/RVToolsMerge.IntegrationTests/InstallerConfigurationTests.cs
  tests/RVToolsMerge.IntegrationTests/IntegrationTestBase.cs
  tests/RVToolsMerge.IntegrationTests/MergeOptionsTests.cs
  tests/RVToolsMerge.IntegrationTests/PathValidationTests.cs
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
  tests/RVToolsMerge.IntegrationTests/Utilities/SpectreConsoleCollection.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestDataGenerator.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestMergeService.cs
  tests/RVToolsMerge.IntegrationTests/ValidationServiceTests.cs
  tests/RVToolsMerge.IntegrationTests/ValidationTests.cs
  tests/RVToolsMerge.IntegrationTests/WingetVersionConsistencyTests.cs
  tests/RVToolsMerge.UnitTests/ApplicationRunnerTests.cs
  tests/RVToolsMerge.UnitTests/GlobalUsings.cs
  tests/RVToolsMerge.UnitTests/ProgramTests.cs
  tests/RVToolsMerge.UnitTests/RVToolsMerge.UnitTests.csproj
Labels: priority: medium, size: large, type: tests, type: build

deploy: 7174b18139a8331510aa8ba37094af8dd3201075
  coverage.svg
Labels: none

Migrate to Spectre.Console.Cli for command-line parsing
  .github/copilot-instructions.md
  README.md
  WINGET_PREPARATION_SUMMARY.md
  src/RVToolsMerge/ApplicationRunner.cs
  src/RVToolsMerge/Commands/MergeCommand.cs
  src/RVToolsMerge/Commands/MergeCommandSettings.cs
  src/RVToolsMerge/Infrastructure/TypeRegistrar.cs
  src/RVToolsMerge/Infrastructure/TypeResolver.cs
  src/RVToolsMerge/Program.cs
  src/RVToolsMerge/RVToolsMerge.csproj
  src/RVToolsMerge/Services/CommandLineParser.cs
  src/RVToolsMerge/Services/Interfaces/ICommandLineParser.cs
  tests/RVToolsMerge.IntegrationTests/CommandLineTests.cs
  tests/RVToolsMerge.IntegrationTests/IntegrationTestBase.cs
  tests/RVToolsMerge.IntegrationTests/PathValidationTests.cs
  tests/RVToolsMerge.UnitTests/ApplicationRunnerTests.cs
  tests/RVToolsMerge.UnitTests/ProgramTests.cs
Labels: priority: medium, size: small, size: large, component: core, type: tests, type: documentation, type: build, ci/cd, breaking-change

Migrate to Spectre.Console.Cli for command-line parsing (#192)
  .github/copilot-instructions.md
  README.md
  WINGET_PREPARATION_SUMMARY.md
  src/RVToolsMerge/ApplicationRunner.cs
  src/RVToolsMerge/Commands/MergeCommand.cs
  src/RVToolsMerge/Commands/MergeCommandSettings.cs
  src/RVToolsMerge/Infrastructure/TypeRegistrar.cs
  src/RVToolsMerge/Infrastructure/TypeResolver.cs
  src/RVToolsMerge/Program.cs
  src/RVToolsMerge/RVToolsMerge.csproj
  src/RVToolsMerge/Services/CommandLineParser.cs
  src/RVToolsMerge/Services/Interfaces/ICommandLineParser.cs
  tests/RVToolsMerge.IntegrationTests/CommandLineTests.cs
  tests/RVToolsMerge.IntegrationTests/IntegrationTestBase.cs
  tests/RVToolsMerge.IntegrationTests/PathValidationTests.cs
  tests/RVToolsMerge.UnitTests/ApplicationRunnerTests.cs
  tests/RVToolsMerge.UnitTests/ProgramTests.cs
Labels: priority: medium, size: small, size: large, component: core, type: tests, type: documentation, type: build, ci/cd, breaking-change

deploy: 846160eb40e47bd66022dd1abf2d0fd0a8610001
  coverage.svg
Labels: none

Add --all-sheets flag for processing all RVTools export sheets
  README.md
  docs/rvtools-supported-sheets.md
  src/RVToolsMerge/Commands/MergeCommand.cs
  src/RVToolsMerge/Commands/MergeCommandSettings.cs
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  src/RVToolsMerge/Models/MergeOptions.cs
  src/RVToolsMerge/Services/ConsoleUIService.cs
  src/RVToolsMerge/Services/MergeService.cs
  src/RVToolsMerge/Services/ValidationService.cs
  tests/RVToolsMerge.IntegrationTests/DynamicSheetDiscoveryTests.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestDataGenerator.cs
Labels: priority: medium, size: small, component: core, type: tests, type: documentation

Make --all-sheets automatically tolerate missing optional sheets
  README.md
  docs/rvtools-supported-sheets.md
  src/RVToolsMerge/Commands/MergeCommandSettings.cs
  src/RVToolsMerge/Services/MergeService.cs
  tests/RVToolsMerge.IntegrationTests/DynamicSheetDiscoveryTests.cs
Labels: priority: medium, size: small, type: tests, type: documentation

Refactor: Remove unused using directives and update Spectre.Console.Cli package version
  src/RVToolsMerge/Commands/MergeCommand.cs
  src/RVToolsMerge/RVToolsMerge.csproj
  tests/RVToolsMerge.IntegrationTests/DynamicSheetDiscoveryTests.cs
  tests/RVToolsMerge.UnitTests/GlobalUsings.cs
Labels: size: large, type: tests, type: build

Remove spell checker extension from VSCode recommendations
  .vscode/extensions.json
Labels: size: small, type: configuration

Add black-box CLI integration tests
  src/RVToolsMerge/Program.cs
  tests/RVToolsMerge.IntegrationTests/CliBlackBoxTests.cs
  tests/RVToolsMerge.IntegrationTests/CommandLineTests.cs
Labels: type: tests

Fix IL trimming breaking Spectre.Console.Cli reflection
  src/RVToolsMerge/RVToolsMerge.csproj
  src/RVToolsMerge/TrimmerRoots.xml
Labels: size: large, type: build

Add --all-sheets flag for processing all RVTools export sheets (#195)
  .vscode/extensions.json
  README.md
  docs/rvtools-supported-sheets.md
  src/RVToolsMerge/Commands/MergeCommand.cs
  src/RVToolsMerge/Commands/MergeCommandSettings.cs
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  src/RVToolsMerge/Models/MergeOptions.cs
  src/RVToolsMerge/Program.cs
  src/RVToolsMerge/RVToolsMerge.csproj
  src/RVToolsMerge/Services/ConsoleUIService.cs
  src/RVToolsMerge/Services/MergeService.cs
  src/RVToolsMerge/Services/ValidationService.cs
  src/RVToolsMerge/TrimmerRoots.xml
  tests/RVToolsMerge.IntegrationTests/CliBlackBoxTests.cs
  tests/RVToolsMerge.IntegrationTests/CommandLineTests.cs
  tests/RVToolsMerge.IntegrationTests/DynamicSheetDiscoveryTests.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestDataGenerator.cs
  tests/RVToolsMerge.UnitTests/GlobalUsings.cs
Labels: priority: medium, size: small, size: large, component: core, type: tests, type: documentation, type: configuration, type: build

chore: bump version to 1.4.4 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

deploy: 037b6b1ebc58d5eb2d1c0ecf4524430c3bf37455
  coverage.svg
Labels: none

Fix signature verification for untrusted root CA on CI runners
  .github/workflows/build.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.4.5 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: use specific certificate thumbprint for code signing
  .github/workflows/build.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.4.6 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

refactor: remove code signing, MSI installer, and WinGet support
  .github/scripts/README.md
  .github/scripts/generate-winget-manifests.ps1
  .github/scripts/prepare-winget-submission.ps1
  .github/scripts/validate-winget-setup.ps1
  .github/winget-templates/README.md
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.yaml.template
  .github/workflows/build.yml
  .github/workflows/version-management.yml
  .github/workflows/winget-submission.yml
  README.md
  docs/azure-github-runner-deployment.md
  docs/continuous-integration.md
  docs/github-workflows.md
  docs/self-hosted-runner-setup.md
  docs/winget-submission-setup.md
  infra/main.bicep
  installer/License.rtf
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
  installer/RVToolsMerge.wxs
  installer/build-msi.bat
  tests/RVToolsMerge.IntegrationTests/InstallerConfigurationTests.cs
  tests/RVToolsMerge.IntegrationTests/WingetVersionConsistencyTests.cs
Labels: size: small, type: tests, type: documentation, type: configuration, type: build, ci/cd

Revert "refactor: remove code signing, MSI installer, and WinGet support"
  .github/scripts/README.md
  .github/scripts/generate-winget-manifests.ps1
  .github/scripts/prepare-winget-submission.ps1
  .github/scripts/validate-winget-setup.ps1
  .github/winget-templates/README.md
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.yaml.template
  .github/workflows/build.yml
  .github/workflows/version-management.yml
  .github/workflows/winget-submission.yml
  README.md
  docs/azure-github-runner-deployment.md
  docs/continuous-integration.md
  docs/github-workflows.md
  docs/self-hosted-runner-setup.md
  docs/winget-submission-setup.md
  infra/main.bicep
  installer/License.rtf
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
  installer/RVToolsMerge.wxs
  installer/build-msi.bat
  tests/RVToolsMerge.IntegrationTests/InstallerConfigurationTests.cs
  tests/RVToolsMerge.IntegrationTests/WingetVersionConsistencyTests.cs
Labels: size: small, type: tests, type: documentation, type: configuration, type: build, ci/cd

refactor: remove code signing, MSI installer, and WinGet support
  .github/scripts/README.md
  .github/scripts/generate-winget-manifests.ps1
  .github/scripts/prepare-winget-submission.ps1
  .github/scripts/validate-winget-setup.ps1
  .github/winget-templates/README.md
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.yaml.template
  .github/workflows/build.yml
  .github/workflows/version-management.yml
  .github/workflows/winget-submission.yml
  README.md
  docs/azure-github-runner-deployment.md
  docs/continuous-integration.md
  docs/github-workflows.md
  docs/self-hosted-runner-setup.md
  docs/winget-submission-setup.md
  infra/main.bicep
  installer/License.rtf
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
  installer/RVToolsMerge.wxs
  installer/build-msi.bat
  tests/RVToolsMerge.IntegrationTests/InstallerConfigurationTests.cs
  tests/RVToolsMerge.IntegrationTests/WingetVersionConsistencyTests.cs
Labels: size: small, type: tests, type: documentation, type: configuration, type: build, ci/cd

refactor: remove code signing, MSI installer, and WinGet support (#201)
  .github/scripts/README.md
  .github/scripts/generate-winget-manifests.ps1
  .github/scripts/prepare-winget-submission.ps1
  .github/scripts/validate-winget-setup.ps1
  .github/winget-templates/README.md
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.yaml.template
  .github/workflows/build.yml
  .github/workflows/version-management.yml
  .github/workflows/winget-submission.yml
  README.md
  docs/azure-github-runner-deployment.md
  docs/continuous-integration.md
  docs/github-workflows.md
  docs/self-hosted-runner-setup.md
  docs/winget-submission-setup.md
  infra/main.bicep
  installer/License.rtf
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
  installer/RVToolsMerge.wxs
  installer/build-msi.bat
  tests/RVToolsMerge.IntegrationTests/InstallerConfigurationTests.cs
  tests/RVToolsMerge.IntegrationTests/WingetVersionConsistencyTests.cs
Labels: size: small, type: tests, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.4.7 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Improve README documentation and consolidate content
  README.md
  docs/DEVELOPMENT.md
  docs/README.md
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
Labels: size: small, size: large, type: documentation, type: build

Improve README documentation and consolidate content (#203)
  README.md
  docs/DEVELOPMENT.md
  docs/README.md
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
Labels: size: small, size: large, type: documentation, type: build

Update Excel MCP Server URL and upgrade ReportGenerator
  README.md
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
Labels: size: small, size: large, type: documentation, type: build

Update Excel MCP Server URL and upgrade ReportGenerator (#204)
  README.md
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
Labels: size: small, size: large, type: documentation, type: build

deploy: e9d1b32dddff20179c22607116b3c45021f6129b
  coverage.svg
Labels: none

deploy: 046c8414157314d3e4a240cfe49b6e29ea1e1895
  coverage.svg
Labels: none
