Repository sbroenne/RvToolsMerge, changes with the labels that .github/labeler.yml gives for each.
All labels: priority: high, priority: medium, size: small, size: large, component: core, component: ui, component: excel, component: data, type: tests, type: documentation, type: configuration, type: build, type: dependencies, ci/cd, security, performance, external-dependencies, rvtools-data, breaking-change

.github/labeler.yml:

# GitHub PR Labeler Configuration
# Automatically applies labels to PRs based on changed files

# Priority Labels
'priority: high':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Security/**/*.cs', 'src/**/Data/**/*.cs']

'priority: medium':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Services/**/*.cs']

# Size Labels
'size: small':
- changed-files:
  - any-glob-to-any-file: ['**/*.md', '**/*.txt', '**/*.json', '**/*.yml']

'size: large':
- changed-files:
  - any-glob-to-any-file: ['**/*.csproj', '**/*.sln', 'src/Core/**/*.cs']

# Component Labels
'component: core':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Models/**/*.cs', 'src/**/Interfaces/**/*.cs']

'component: ui':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Console/**/*.cs', 'src/**/Interactive/**/*.cs']

'component: excel':
- changed-files:
  - any-glob-to-any-file: ['src/**/Excel/**/*.cs', 'src/**/ClosedXML/**/*.cs', 'src/**/RVTools/**/*.cs']

'component: data':
- changed-files:
  - any-glob-to-any-file: ['src/**/Data/**/*.cs', 'src/**/Repository/**/*.cs', 'src/**/Entities/**/*.cs']

# Type Labels
'type: feature':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs', '!**/*.Test.cs', '!**/*.Tests.cs']

'type: tests':
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*.cs'
    - 'src/**/*Test*.cs'
    - 'src/**/*Tests.cs'
    - '**/*.Test.cs'
    - '**/*.Tests.cs'
    - '**/TestData/**/*'

'type: documentation':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**/*'
    - '**/*.txt'
    - '**/README.*'
    - 'LICENSE*'
    - '**/CHANGELOG.*'
    - '**/CONTRIBUTING.*'

'type: configuration':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yml'
    - '**/*.yaml'
    - '**/*.config'
    - '**/appsettings*.json'
    - '**/launchSettings.json'
    - '**/.editorconfig'

'type: build':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.csproj'
    - '**/*.sln'
    - '**/Directory.Build.props'
    - '**/Directory.Build.targets'
    - '**/nuget.config'
    - '**/global.json'
    - 'Dockerfile*'
    - '.github/workflows/**/*'

'type: dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.lock.json'
    - '**/package.json'
    - '**/package-lock.json'
    - '**/yarn.lock'
    - '**/Directory.Packages.props'
    - '**/PackageReference.props'

# CI/CD Labels
'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/**/*'
    - 'azure-pipelines.yml'
    - '.github/workflows/**/*'
    - '.github/dependabot.yml'
    - 'scripts/**/*'

# Security Labels
'security':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Security/**/*.cs'
    - 'src/**/Authentication/**/*.cs'
    - 'src/**/Authorization/**/*.cs'

# Performance Labels
'performance':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Performance/**/*.cs'
    - 'src/**/Optimization/**/*.cs'
    - 'src/**/Parallel/**/*.cs'

# Refactoring Labels
'refactoring':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs']

# External Dependencies
'external-dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.config'
    - '**/paket.dependencies'
    - '**/paket.lock'

# RVTools Specific
'rvtools-data':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/RVTools/**/*.cs'
    - 'src/**/VMware/**/*.cs'
    - 'src/**/Export/**/*.cs'
    - 'testdata/**/*.xlsx'
    - 'testdata/**/*.xls'

# Breaking Changes
'breaking-change':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Interfaces/**/*.cs'
    - 'src/**/Contracts/**/*.cs'
    - 'src/Core/**/*.cs'

chore: bump version to 1.1.0 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: bump version to 1.1.1 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Refactor release workflow: improve artifact handling, enhance version extraction, and update release notes format
  .github/workflows/release.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: update workflows for version management and release process; consolidate version bumping and release creation
  .github/workflows/release.yml
  .github/workflows/version-management.yml
  README.md
  docs/CI-CD.md
  docs/github.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: only run coverage on windows-latest
  .github/workflows/build.yml
Labels: size: small, type: configuration, type: build, ci/cd

Re-factor GitHub Workflows (#30)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/version-management.yml
  README.md
  docs/CI-CD.md
  docs/github.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.1.2 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: remove code coverage reporting steps from build workflow
  .github/workflows/build.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.1.3 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Fix release job by adding artifact publishing in build workflow (#34)
  .github/workflows/build.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.1.4 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Fix Release Job by Adding Windows ARM64 Support to RuntimeIdentifiers (#36)
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: bump version to 1.1.5 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Fix release job artifact issues (#38)
  .github/workflows/build.yml
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.1.6 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Refactor build workflow to support multiple platforms and remove legacy code coverage workflow
  .github/workflows/build.yml
  .github/workflows/code-coverage.yml
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.1.7 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: simplify dotnet restore and build commands in workflow
  .github/workflows/build.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.1.8 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

refactor: standardize artifact naming and improve archive creation logic
  .github/workflows/build.yml
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.1.9 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: generalize code coverage report directory search
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

docs: update README and ConsoleUIService to clarify default behavior of options
  README.md
  src/RVToolsMerge/Models/MergeOptions.cs
  src/RVToolsMerge/Services/ConsoleUIService.cs
Labels: priority: medium, size: small, component: core, type: documentation

feat: add VM UUID to required and optional columns in documentation and configuration
  README.md
  docs/ColumnMappings.md
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  src/RVToolsMerge/Services/ConsoleUIService.cs
Labels: priority: medium, size: small, type: documentation

feat: add VM UUID to vInfo and related sheets in test data generation and validation tests
  tests/RVToolsMerge.IntegrationTests/AnonymizationServiceExtendedTests.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestDataGenerator.cs
  tests/RVToolsMerge.IntegrationTests/ValidationTests.cs
Labels: type: tests

fix: prevent workflow from running twice on pull requests
  .github/workflows/dotnet.yml
Labels: size: small, type: configuration, type: build, ci/cd

Generalize code coverage report directory and enhance VM UUID documentation (#43)
  .github/workflows/dotnet.yml
  .github/workflows/version-management.yml
  README.md
  docs/ColumnMappings.md
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  src/RVToolsMerge/Models/MergeOptions.cs
  src/RVToolsMerge/Services/ConsoleUIService.cs
  tests/RVToolsMerge.IntegrationTests/AnonymizationServiceExtendedTests.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestDataGenerator.cs
  tests/RVToolsMerge.IntegrationTests/ValidationTests.cs
Labels: priority: medium, size: small, component: core, type: tests, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.1.10 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Fix String capitalization in static method calls (#46)
  .github/copilot-instructions.md
Labels: size: small, type: documentation, ci/cd

Add Azure Migrate Support (#48)
  README.md
  src/RVToolsMerge/Exceptions/CustomExceptions.cs
  src/RVToolsMerge/Models/AzureMigrateValidationResult.cs
  src/RVToolsMerge/Models/MergeOptions.cs
  src/RVToolsMerge/Services/CommandLineParser.cs
  src/RVToolsMerge/Services/ConsoleUIService.cs
  src/RVToolsMerge/Services/Interfaces/IValidationService.cs
  src/RVToolsMerge/Services/MergeService.cs
  src/RVToolsMerge/Services/ValidationService.cs
  tests/RVToolsMerge.IntegrationTests/ValidationServiceTests.cs
Labels: priority: medium, size: small, component: core, type: tests, type: documentation, breaking-change

chore: bump version to 1.2.0 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: use version output from bump-version job for release creation
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.2.1 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Add display of rows skipped due to Azure Migrate VM limit (#51)
  README.md
  docs/AzureMigrateValidation.md
  docs/README.md
  src/RVToolsMerge/Models/AzureMigrateValidationResult.cs
  src/RVToolsMerge/Services/MergeService.cs
  tests/RVToolsMerge.IntegrationTests/ValidationServiceTests.cs
Labels: priority: medium, size: small, component: core, type: tests, type: documentation

chore: bump version to 1.2.2 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: bump version to 1.2.3 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: enhance version management workflow with improved tag handling and merge checks
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.2.3 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: update version management workflow to improve tag creation and handling
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.2.4 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build
