Repository sbroenne/RvToolsMerge, changes with the labels that .github/labeler.yml gives for each.
All labels: Tests, Documentation, Config, Build

Create a PR for protected branches
  .github/workflows/version-management.yml
Labels: Config

Make labeler work again
  .github/workflows/labeler.yml
Labels: Config

Update .github/workflows/version-management.yml
  .github/workflows/version-management.yml
Labels: Config

Installation of CLI not required
  .github/workflows/version-management.yml
Labels: Config

Create a PR for protected branches in Version Management (#3)
  .github/workflows/labeler.yml
  .github/workflows/version-management.yml
Labels: Config

Always create a PR for version bumps
  .github/workflows/codeql.yml
  .github/workflows/version-management.yml
Labels: Config

Update .github/workflows/version-management.yml
  .github/workflows/version-management.yml
Labels: Config

Create a PR for version updates
  .github/workflows/version-management.yml
Labels: Config

Create a PR for version updates (#5)
  .github/workflows/version-management.yml
Labels: Config

chore: bump version to 1.0.0-rc1 [skip ci]
  RVToolsMerge.csproj
Labels: Build

Re-factor release process
  .github/workflows/release.yml
  .github/workflows/version-management.yml
  docs/CI-CD.md
Labels: Documentation, Config

Re-factor release process (#7)
  .github/workflows/release.yml
  .github/workflows/version-management.yml
  docs/CI-CD.md
Labels: Documentation, Config

Added missing fi
  .github/workflows/version-management.yml
Labels: Config

chore: bump version to 2.0.0 [skip ci]
  RVToolsMerge.csproj
Labels: Build

Fix version
  RVToolsMerge.csproj
Labels: Build

Input is now a required parameter
  .vscode/launch.json
  Program.cs
  Properties/launchSettings.json
  README.md
  RVToolsMerge.csproj
Labels: Documentation, Config, Build

Input is now a required parameter (#9)
  .vscode/launch.json
  Program.cs
  Properties/launchSettings.json
  README.md
  RVToolsMerge.csproj
Labels: Documentation, Config, Build

Added mapping for different colum nanmes
  .github/copilot-instructions.md
  Program.cs
Labels: Documentation, Config

Change required columns OS according to the configuration file
  Program.cs
  README.md
Labels: Documentation

Wrong mapping
  Program.cs
Labels: none

Updated mapping information
  Program.cs
  README.md
Labels: Documentation

Updated mapping
  Program.cs
Labels: none

UI imrpovements
  Program.cs
Labels: none

Updated docs
  Program.cs
  README.md
Labels: Documentation

.github/labeler.yml:

# GitHub PR Labeler Configuration
# Code changes
Functionality:
- changed-files:
  - any-glob-to-any-file: ['**/*.cs']
  - all-globs-to-any-file: ['!**/*Test*.cs', '!**/*.Test.cs', '!**/*.Tests.cs']

# Tests and test infrastructure
Tests:
- changed-files:
  - any-glob-to-any-file: ['**/*Test*.cs', '**/*.Test.cs', '**/*.Tests.cs']

# Documentation updates
Documentation:
- changed-files:
  - any-glob-to-any-file: ['**/*.md', 'docs/**/*', '**/*.txt', '**/README.*']

# Configuration changes
Config:
- changed-files:
  - any-glob-to-any-file: ['**/*.json', '**/*.yml', '**/*.yaml', '**/*.config', '.github/**/*']

# Build system and dependencies
Build:
- changed-files:
  - any-glob-to-any-file: ['**/*.csproj', '**/*.sln', '**/Directory.Build.props', '**/Directory.Build.targets', '**/nuget.config', '**/global.json']
