Repository sbroenne/RvToolsMerge, changes with the labels that .github/labeler.yml gives for each.
All labels: priority: high, priority: medium, size: small, size: large, component: core, component: ui, component: excel, component: data, type: tests, type: documentation, type: configuration, type: build, type: dependencies, ci/cd, security, performance, external-dependencies, rvtools-data, breaking-change

.github/labeler.yml:

# GitHub PR Labeler Configuration
# Automatically applies labels to PRs based on changed files

# Priority Labels
'priority: high':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Security/**/*.cs', 'src/**/Data/**/*.cs']

'priority: medium':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Services/**/*.cs']

# Size Labels
'size: small':
- changed-files:
  - any-glob-to-any-file: ['**/*.md', '**/*.txt', '**/*.json', '**/*.yml']

'size: large':
- changed-files:
  - any-glob-to-any-file: ['**/*.csproj', '**/*.sln', 'src/Core/**/*.cs']

# Component Labels
'component: core':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Models/**/*.cs', 'src/**/Interfaces/**/*.cs']

'component: ui':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Console/**/*.cs', 'src/**/Interactive/**/*.cs']

'component: excel':
- changed-files:
  - any-glob-to-any-file: ['src/**/Excel/**/*.cs', 'src/**/ClosedXML/**/*.cs', 'src/**/RVTools/**/*.cs']

'component: data':
- changed-files:
  - any-glob-to-any-file: ['src/**/Data/**/*.cs', 'src/**/Repository/**/*.cs', 'src/**/Entities/**/*.cs']

# Type Labels
'type: feature':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs', '!**/*.Test.cs', '!**/*.Tests.cs']

'type: tests':
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*.cs'
    - 'src/**/*Test*.cs'
    - 'src/**/*Tests.cs'
    - '**/*.Test.cs'
    - '**/*.Tests.cs'
    - '**/TestData/**/*'

'type: documentation':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**/*'
    - '**/*.txt'
    - '**/README.*'
    - 'LICENSE*'
    - '**/CHANGELOG.*'
    - '**/CONTRIBUTING.*'

'type: configuration':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yml'
    - '**/*.yaml'
    - '**/*.config'
    - '**/appsettings*.json'
    - '**/launchSettings.json'
    - '**/.editorconfig'

'type: build':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.csproj'
    - '**/*.sln'
    - '**/Directory.Build.props'
    - '**/Directory.Build.targets'
    - '**/nuget.config'
    - '**/global.json'
    - 'Dockerfile*'
    - '.github/workflows/**/*'

'type: dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.lock.json'
    - '**/package.json'
    - '**/package-lock.json'
    - '**/yarn.lock'
    - '**/Directory.Packages.props'
    - '**/PackageReference.props'

# CI/CD Labels
'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/**/*'
    - 'azure-pipelines.yml'
    - '.github/workflows/**/*'
    - '.github/dependabot.yml'
    - 'scripts/**/*'

# Security Labels
'security':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Security/**/*.cs'
    - 'src/**/Authentication/**/*.cs'
    - 'src/**/Authorization/**/*.cs'

# Performance Labels
'performance':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Performance/**/*.cs'
    - 'src/**/Optimization/**/*.cs'
    - 'src/**/Parallel/**/*.cs'

# Refactoring Labels
'refactoring':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs']

# External Dependencies
'external-dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.config'
    - '**/paket.dependencies'
    - '**/paket.lock'

# RVTools Specific
'rvtools-data':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/RVTools/**/*.cs'
    - 'src/**/VMware/**/*.cs'
    - 'src/**/Export/**/*.cs'
    - 'testdata/**/*.xlsx'
    - 'testdata/**/*.xls'

# Breaking Changes
'breaking-change':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Interfaces/**/*.cs'
    - 'src/**/Contracts/**/*.cs'
    - 'src/Core/**/*.cs'

chore: enhance README with detailed version management and upgrade support information
  installer/README.md
Labels: size: small, type: documentation

Enhance winget submission scripts and installation process (#109)
  .github/scripts/generate-winget-manifests.ps1
  .github/scripts/prepare-winget-submission.ps1
  .gitignore
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
  installer/RVToolsMerge.wxs
Labels: size: small, type: documentation, ci/cd

chore: bump version to 1.3.13 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

feat: add winget installation step for unattended operation
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.3.14 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

feat: add optional winget validation and enhance script documentation
  .github/scripts/README.md
  .github/scripts/generate-winget-manifests.ps1
  .github/workflows/version-management.yml
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

feat: add optional winget validation and enhance script documentation (#112)
  .github/scripts/README.md
  .github/scripts/generate-winget-manifests.ps1
  .github/workflows/version-management.yml
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.3.15 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

feat: enhance workflow management with automated cleanup and update documentation
  .github/copilot-instructions.md
  .github/workflows/cleanup-workflow-runs.yml
  .github/workflows/version-management.yml
  .vscode/settings.json
  README.md
  docs/CI-CD.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

docs: add winget submission workflow setup documentation
  .github/workflows/winget-submission.yml
  docs/winget-submission-analysis.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

Enhance workflow management with automated cleanup and update documentation (#114)
  .github/copilot-instructions.md
  .github/workflows/cleanup-workflow-runs.yml
  .github/workflows/version-management.yml
  .github/workflows/winget-submission.yml
  .vscode/settings.json
  README.md
  docs/CI-CD.md
  docs/winget-submission-analysis.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.3.16 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

feat: enhance winget submission workflow documentation and remove outdated analysis file
  .github/workflows/winget-submission.yml
  docs/CI-CD.md
  docs/winget-submission-setup.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

feat: enhance winget submission workflow documentation and remove outdated analysis file (#116)
  .github/workflows/winget-submission.yml
  docs/CI-CD.md
  docs/winget-submission-setup.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

feat: refactor cleanup workflow to use GitHub script for enhanced run management
  .github/workflows/cleanup-workflow-runs.yml
Labels: size: small, type: configuration, type: build, ci/cd

fix: correct indentation in cleanup workflow and add step ID for git setup in winget submission workflow
  .github/workflows/cleanup-workflow-runs.yml
  .github/workflows/winget-submission.yml
Labels: size: small, type: configuration, type: build, ci/cd

fix: correct indentation in cleanup workflow and add step ID for git setup in winget submission workflow (#117)
  .github/workflows/cleanup-workflow-runs.yml
  .github/workflows/winget-submission.yml
Labels: size: small, type: configuration, type: build, ci/cd

feat: add YAML literal block scalar function for release notes formatting in manifest generation
  .github/scripts/generate-winget-manifests.ps1
Labels: ci/cd

chore: bump version to 1.3.17 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

refactor: simplify release notes handling in manifest generation
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.3.18 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: update ReleaseNotes formatting to use YAML literal block scalar
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
Labels: ci/cd

chore: bump version to 1.3.19 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

refactor: enhance cleanup workflow to immediately delete failed/cancelled runs and summarize deletions
  .github/workflows/cleanup-workflow-runs.yml
  .github/workflows/winget-submission.yml
Labels: size: small, type: configuration, type: build, ci/cd

refactor: enhance cleanup workflow to immediately delete failed/cancelled runs and summarize deletions (#121)
  .github/workflows/cleanup-workflow-runs.yml
  .github/workflows/winget-submission.yml
Labels: size: small, type: configuration, type: build, ci/cd

feat: Add Azure GitHub runner infrastructure and deployment automation
  README.md
  docs/README.md
  docs/azure-github-runner-deployment.md
  docs/azure-github-runner-validation.md
  infra/main.bicep
  infra/main.parameters.dev.json
  scripts/cleanup.ps1
  scripts/deploy.ps1
  scripts/install-runner.ps1
Labels: size: small, type: documentation, type: configuration, ci/cd

Enhance Azure GitHub Runner Deployment Documentation and Scripts
  CONTRIBUTING.md
  README.md
  docs/CI-CD.md
  docs/azure-github-runner-deployment.md
  docs/azure-github-runner-validation.md
  infra/main.bicep
  infra/main.json
  infra/main.parameters.dev.json
  scripts/cleanup.ps1
  scripts/deploy.ps1
  scripts/install-runner.ps1
Labels: size: small, type: documentation, type: configuration, ci/cd

feat: update scripts and documentation for PowerShell 7 compatibility and enhancements
  .github/copilot-instructions.md
  docs/azure-github-runner-deployment.md
  infra/main.bicep
  scripts/cleanup.ps1
  scripts/deploy.ps1
  scripts/install-runner.ps1
Labels: size: small, type: documentation, ci/cd

feat: update Azure GitHub runner deployment documentation and scripts for PowerShell 7 compatibility, disable Azure Hybrid Use Benefit by default, and remove outdated cleanup and deployment scripts
  docs/azure-github-runner-deployment.md
  infra/main.bicep
  infra/main.json
  infra/main.parameters.dev.json
  scripts/cleanup.ps1
  scripts/deploy.ps1
Labels: size: small, type: documentation, type: configuration, ci/cd

feat: update Azure GitHub runner deployment scripts to disable Azure Hybrid Use Benefit by default and enhance setup commands for PowerShell 7 installation
  docs/azure-github-runner-deployment.md
  infra/main.bicep
Labels: size: small, type: documentation

feat: refactor Azure GitHub runner deployment to enhance manual setup instructions and remove deprecated parameters and scripts
  docs/azure-github-runner-deployment.md
  infra/main.bicep
  infra/main.json
  infra/main.parameters.dev.json
  scripts/install-runner.ps1
Labels: size: small, type: documentation, type: configuration, ci/cd

fix: correct description of VM size for GitHub runner to reflect AMD-based configuration
  infra/main.bicep
Labels: none

feat: update Azure GitHub runner deployment guide to clarify registration token requirements and emphasize interactive session for code signing
  docs/azure-github-runner-deployment.md
Labels: size: small, type: documentation

Refactor documentation structure and content
  .github/workflows/build.yml
  README.md
  docs/README.md
  docs/azure-migrate-validation.md
  docs/continuous-integration.md
  docs/github-workflows.md
  docs/rvtools-column-mappings.md
  docs/rvtools-supported-sheets.md
  docs/self-hosted-runner-setup.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

feat: add workflow_dispatch inputs for build configuration and Git reference in build.yml
  .github/workflows/build.yml
Labels: size: small, type: configuration, type: build, ci/cd

Add Azure GitHub runner infrastructure and enhance deployment documentation (#122)
  .github/copilot-instructions.md
  .github/workflows/build.yml
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/azure-github-runner-deployment.md
  docs/azure-migrate-validation.md
  docs/continuous-integration.md
  docs/github-workflows.md
  docs/rvtools-column-mappings.md
  docs/rvtools-supported-sheets.md
  docs/self-hosted-runner-setup.md
  infra/main.bicep
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

docs: update Azure GitHub runner configuration to include codesign-runner label
  docs/azure-github-runner-deployment.md
Labels: size: small, type: documentation

Add MaxVInfoRows option to limit the number of vInfo rows processed (#124)
  debug_hosts.cs
  src/RVToolsMerge/Models/MergeOptions.cs
  src/RVToolsMerge/Services/CommandLineParser.cs
  src/RVToolsMerge/Services/ConsoleUIService.cs
  src/RVToolsMerge/Services/MergeService.cs
  tests/RVToolsMerge.IntegrationTests/CommandLineTests.cs
  tests/RVToolsMerge.IntegrationTests/MergeOptionsTests.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestDataGenerator.cs
Labels: priority: medium, component: core, type: tests

chore: bump version to 1.3.20 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

deploy: a8474431350f0d73edec1c13d328361c26c55311
  coverage.svg
Labels: none
