Repository sbroenne/RvToolsMerge, changes with the labels that .github/labeler.yml gives for each.
All labels: priority: high, priority: medium, size: small, size: large, component: core, component: ui, component: excel, component: data, type: tests, type: documentation, type: configuration, type: build, type: dependencies, ci/cd, security, performance, external-dependencies, rvtools-data, breaking-change

fix: ensure latest changes are pulled before creating version tag
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.2.4 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: bump version to 1.2.5 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: enhance version tag creation with retry logic for merge propagation
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.2.6 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: improve version update process by ensuring main branch is up-to-date before tag creation
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.2.6 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: configure Git user for annotated tag creation in version management workflow
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.2.6 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: enhance build workflow to support custom Git reference and ensure main branch is up-to-date before version bump
  .github/workflows/build.yml
  .github/workflows/version-management.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.2.6 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: bump version to 1.2.7 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Add badges for unit tests and code coverage (#64)
  .github/workflows/build.yml
  .github/workflows/code-coverage.yml
  .github/workflows/dotnet.yml
  .github/workflows/version-management.yml
  README.md
  docs/CI-CD.md
  docs/code-coverage.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

deploy: 7230edbbc2757c1749901a9b8126f19b8f19e639
  .nojekyll
  coverage.svg
Labels: none

Add new mandatory columns for the vInfo Sheet (#66)
  CHANGELOG.md
  README.md
  docs/ColumnMappings.md
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestDataGenerator.cs
  tests/RVToolsMerge.IntegrationTests/ValidationTests.cs
Labels: size: small, type: tests, type: documentation

chore: bump version to 1.3.0 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

deploy: f90ea4a014e952a015230c9292e5aad4c11c292c
  coverage.svg
Labels: none

Add badges for unit tests and code coverage (#67)
  README.md
  docs/code-coverage.md
Labels: size: small, type: documentation

Typo: Creation Date needs to be Creation date
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  src/RVToolsMerge/Services/MergeService.cs
Labels: priority: medium

Fix typo in vInfo sheet: change "Creation Date" to "Creation date"
  tests/RVToolsMerge.IntegrationTests/ValidationTests.cs
Labels: type: tests

Fix typos in vInfo sheet regarding "Creation Date" (#70)
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  src/RVToolsMerge/Services/MergeService.cs
  tests/RVToolsMerge.IntegrationTests/ValidationTests.cs
Labels: priority: medium, type: tests

Refactor anonymization summary display and update info message to include IP Addresses
  src/RVToolsMerge/Services/MergeService.cs
Labels: priority: medium

Refactor anonymization service to use dynamic column identifiers and update merge service to utilize new anonymization mappings
  src/RVToolsMerge/Services/AnonymizationService.cs
  src/RVToolsMerge/Services/Interfaces/IAnonymizationService.cs
  src/RVToolsMerge/Services/MergeService.cs
Labels: priority: medium, component: core, breaking-change

Add detailed documentation for supported sheets and required columns
  README.md
  docs/SupportedSheets.md
Labels: size: small, type: documentation

Refactor anonymization service to improve statistics and mapping methods, ensuring consistent display names and enhancing test coverage for anonymization functionality.
  src/RVToolsMerge/Services/AnonymizationService.cs
  tests/RVToolsMerge.IntegrationTests/AnonymizationMapFileTests.cs
  tests/RVToolsMerge.IntegrationTests/AnonymizationServiceExtendedTests.cs
Labels: priority: medium, type: tests

Change anonymization logic to per file with unique seeds (#72)
  README.md
  docs/SupportedSheets.md
  src/RVToolsMerge/Services/AnonymizationService.cs
  src/RVToolsMerge/Services/Interfaces/IAnonymizationService.cs
  src/RVToolsMerge/Services/MergeService.cs
  tests/RVToolsMerge.IntegrationTests/AnonymizationMapFileTests.cs
  tests/RVToolsMerge.IntegrationTests/AnonymizationServiceExtendedTests.cs
  tests/RVToolsMerge.IntegrationTests/AnonymizationServiceTests.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestMergeService.cs
Labels: priority: medium, size: small, component: core, type: tests, type: documentation, breaking-change

chore: bump version to 1.3.1 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

deploy: 1aebc1a8184fc17f6920050391aadf4bfe93700e
  coverage.svg
Labels: none

Update firewall allowlist for .NET hosts and project requirements
  .github/firewall.yml
  .github/workflows/copilot-setup-steps.yml
Labels: size: small, type: configuration, type: build, ci/cd

Fix CodeQL security issues: path traversal prevention and information disclosure (#75)
  .github/firewall.yml
  .github/workflows/copilot-setup-steps.yml
  src/RVToolsMerge/ApplicationRunner.cs
  src/RVToolsMerge/Services/CommandLineParser.cs
  src/RVToolsMerge/Services/ExcelService.cs
  tests/RVToolsMerge.IntegrationTests/PathValidationTests.cs
Labels: priority: medium, size: small, type: tests, type: configuration, type: build, ci/cd

deploy: 5fe715d3013c36550f1f65334407487dc78445c1
  coverage.svg
Labels: none

Fix code scanning issues: Add serialization support to custom exceptions (#77)
  src/RVToolsMerge/Exceptions/CustomExceptions.cs
  src/RVToolsMerge/Exceptions/FileValidationException.cs
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Enhance Copilot setup: Update permissions and verify CodeQL configuration
  .github/workflows/copilot-setup-steps.yml
Labels: size: small, type: configuration, type: build, ci/cd

Fix CodeQL configuration: Exclude all test projects and folders from analysis
  .github/codeql-config.yml
Labels: size: small, type: configuration, ci/cd

Refactor CodeQL workflow: Standardize formatting and improve readability
  .github/workflows/codeql.yml
Labels: size: small, type: configuration, type: build, ci/cd

Update dependabot configuration: Enhance GitHub Actions management and adjust NuGet update schedule
  .github/dependabot.yml
Labels: size: small, type: configuration, ci/cd

Refactor workflow triggers: Simplify push event conditions and remove PR-related comments
  .github/workflows/dotnet.yml
Labels: size: small, type: configuration, type: build, ci/cd

Refactor dependabot configuration: Simplify comments and standardize commit message prefixes
  .github/dependabot.yml
Labels: size: small, type: configuration, ci/cd

Refactor dependabot configuration: Remove development prefix from commit messages and clean up update types
  .github/dependabot.yml
Labels: size: small, type: configuration, ci/cd

Enhance CodeQL and workflow configurations (#78)
  .github/codeql-config.yml
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dotnet.yml
Labels: size: small, type: configuration, type: build, ci/cd

.github/labeler.yml:

# GitHub PR Labeler Configuration
# Automatically applies labels to PRs based on changed files

# Priority Labels
'priority: high':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Security/**/*.cs', 'src/**/Data/**/*.cs']

'priority: medium':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Services/**/*.cs']

# Size Labels
'size: small':
- changed-files:
  - any-glob-to-any-file: ['**/*.md', '**/*.txt', '**/*.json', '**/*.yml']

'size: large':
- changed-files:
  - any-glob-to-any-file: ['**/*.csproj', '**/*.sln', 'src/Core/**/*.cs']

# Component Labels
'component: core':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Models/**/*.cs', 'src/**/Interfaces/**/*.cs']

'component: ui':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Console/**/*.cs', 'src/**/Interactive/**/*.cs']

'component: excel':
- changed-files:
  - any-glob-to-any-file: ['src/**/Excel/**/*.cs', 'src/**/ClosedXML/**/*.cs', 'src/**/RVTools/**/*.cs']

'component: data':
- changed-files:
  - any-glob-to-any-file: ['src/**/Data/**/*.cs', 'src/**/Repository/**/*.cs', 'src/**/Entities/**/*.cs']

# Type Labels
'type: feature':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs', '!**/*.Test.cs', '!**/*.Tests.cs']

'type: tests':
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*.cs'
    - 'src/**/*Test*.cs'
    - 'src/**/*Tests.cs'
    - '**/*.Test.cs'
    - '**/*.Tests.cs'
    - '**/TestData/**/*'

'type: documentation':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**/*'
    - '**/*.txt'
    - '**/README.*'
    - 'LICENSE*'
    - '**/CHANGELOG.*'
    - '**/CONTRIBUTING.*'

'type: configuration':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yml'
    - '**/*.yaml'
    - '**/*.config'
    - '**/appsettings*.json'
    - '**/launchSettings.json'
    - '**/.editorconfig'

'type: build':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.csproj'
    - '**/*.sln'
    - '**/Directory.Build.props'
    - '**/Directory.Build.targets'
    - '**/nuget.config'
    - '**/global.json'
    - 'Dockerfile*'
    - '.github/workflows/**/*'

'type: dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.lock.json'
    - '**/package.json'
    - '**/package-lock.json'
    - '**/yarn.lock'
    - '**/Directory.Packages.props'
    - '**/PackageReference.props'

# CI/CD Labels
'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/**/*'
    - 'azure-pipelines.yml'
    - '.github/workflows/**/*'
    - '.github/dependabot.yml'
    - 'scripts/**/*'

# Security Labels
'security':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Security/**/*.cs'
    - 'src/**/Authentication/**/*.cs'
    - 'src/**/Authorization/**/*.cs'

# Performance Labels
'performance':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Performance/**/*.cs'
    - 'src/**/Optimization/**/*.cs'
    - 'src/**/Parallel/**/*.cs'

# Refactoring Labels
'refactoring':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs']

# External Dependencies
'external-dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.config'
    - '**/paket.dependencies'
    - '**/paket.lock'

# RVTools Specific
'rvtools-data':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/RVTools/**/*.cs'
    - 'src/**/VMware/**/*.cs'
    - 'src/**/Export/**/*.cs'
    - 'testdata/**/*.xlsx'
    - 'testdata/**/*.xls'

# Breaking Changes
'breaking-change':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Interfaces/**/*.cs'
    - 'src/**/Contracts/**/*.cs'
    - 'src/Core/**/*.cs'
