Repository sbroenne/RvToolsMerge, changes with the labels that .github/labeler.yml gives for each.
All labels: priority: high, priority: medium, size: small, size: large, component: core, component: ui, component: excel, component: data, type: tests, type: documentation, type: configuration, type: build, type: dependencies, ci/cd, security, performance, external-dependencies, rvtools-data, breaking-change

ci: update GitHub Actions dependencies configuration and adjust labels
  .github/dependabot.yml
Labels: size: small, type: configuration, ci/cd

Potential fix for code scanning alert no. 17: Useless assignment to local variable
  src/RVToolsMerge/ApplicationRunner.cs
Labels: none

Potential fix for code scanning alert no. 17: Useless assignment to local variable (#81)
  src/RVToolsMerge/ApplicationRunner.cs
Labels: none

fix: remove outdated code coverage badge from README
  README.md
Labels: size: small, type: documentation

deploy: b5235d6a823435a716cc8a959d8e817fc3dd348a
  coverage.svg
Labels: none

Update Copilot instructions with build/test requirements and real data usage (#85)
  .github/copilot-instructions.md
  CONTRIBUTING.md
  README.md
  RVToolsMerge.sln
  run-coverage.bat
  run-coverage.sh
  tests/RVToolsMerge.IntegrationTests/AnonymizationMapFileTests.cs
  tests/RVToolsMerge.IntegrationTests/BasicMergeTests.cs
  tests/RVToolsMerge.IntegrationTests/IntegrationTestBase.cs
  tests/RVToolsMerge.IntegrationTests/MergeOptionsTests.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestDataGenerator.cs
  tests/RVToolsMerge.IntegrationTests/ValidationTests.cs
  tests/RVToolsMerge.UnitTests/ApplicationRunnerTests.cs
  tests/RVToolsMerge.UnitTests/AzureMigrateValidationResultTests.cs
  tests/RVToolsMerge.UnitTests/ConsoleUIServiceTests.cs
  tests/RVToolsMerge.UnitTests/ExceptionTests.cs
  tests/RVToolsMerge.UnitTests/GlobalUsings.cs
  tests/RVToolsMerge.UnitTests/ProgramTests.cs
  tests/RVToolsMerge.UnitTests/RVToolsMerge.UnitTests.csproj
  tests/RVToolsMerge.UnitTests/SpectreConsoleServiceTests.cs
Labels: size: small, size: large, type: tests, type: documentation, type: build, ci/cd

deploy: 09f98266f7db6856f0816758dff994138d8e0bd6
  coverage.svg
Labels: none

Add mandatory Datacenter, Cluster, and Host columns to vInfo sheet (#87)
  .github/copilot-instructions.md
  .github/workflows/dotnet.yml
  docs/SupportedSheets.md
  src/RVToolsMerge/Configuration/SheetConfiguration.cs
  tests/RVToolsMerge.IntegrationTests/ExcelServiceTests.cs
  tests/RVToolsMerge.IntegrationTests/MergeOptionsTests.cs
  tests/RVToolsMerge.IntegrationTests/Utilities/TestDataGenerator.cs
  tests/RVToolsMerge.IntegrationTests/ValidationTests.cs
Labels: size: small, type: tests, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.3.2 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

deploy: b84a5f44fff45994098e794b0c2bcb65f7ea2d44
  coverage.svg
Labels: none

feat: enhance multi-platform support and build configurations
  .github/workflows/build.yml
  Directory.Build.props
  global.json
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: small, size: large, type: configuration, type: build, ci/cd

chore: bump version to 1.3.3 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Fix description formatting in project file
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Implement MSI packaging and professional icon for Windows releases (#91)
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/README.md
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
  .github/winget-templates/RvToolsMerge.RvToolsMerge.yaml.template
  .github/workflows/build.yml
  .github/workflows/version-management.yml
  README.md
  installer/License.rtf
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
  installer/RVToolsMerge.wxs
  installer/build-msi.bat
  src/RVToolsMerge/RVToolsMerge.csproj
  src/RVToolsMerge/Resources/Icons/app-icon.ico
  src/RVToolsMerge/Resources/Icons/app-icon.png
  src/RVToolsMerge/Resources/Icons/app-icon.svg
Labels: size: small, size: large, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.3.4 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Fix GitHub Action Version Management workflow failures (#94)
  .github/workflows/build.yml
  .github/workflows/version-management.yml
  docs/CI-CD.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.3.5 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: update workflow to run on Windows and improve directory creation and verification steps
  .github/workflows/copilot-setup-steps.yml
Labels: size: small, type: configuration, type: build, ci/cd

Reverted commit since Copilot does not work on Windows
  .github/workflows/copilot-setup-steps.yml
Labels: size: small, type: configuration, type: build, ci/cd

[WIP] The GitHub Action Version Management fails (#96)
  .github/workflows/build.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.3.6 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Enhance WiX installer setup and documentation
  .github/workflows/build.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/CI-CD.md
  docs/github.md
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
  installer/RVToolsMerge.wxs
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

[WIP] The GitHub Action Version Management fails (#98)
  .github/workflows/build.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/CI-CD.md
  docs/github.md
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
  installer/RVToolsMerge.wxs
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.3.7 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: update descriptions and improve installation messages in templates and workflows
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
  .github/workflows/build.yml
  .github/workflows/version-management.yml
  installer/RVToolsMerge.wxs
Labels: size: small, type: configuration, type: build, ci/cd

chore: update descriptions and improve installation messages in templates and workflows (#100)
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
  .github/workflows/build.yml
  .github/workflows/version-management.yml
  installer/RVToolsMerge.wxs
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.3.8 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: add WiX UI extension installation step to build process
  .github/workflows/build.yml
  installer/README.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: add WiX UI extension installation step to build process (#102)
  .github/workflows/build.yml
  installer/README.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.3.9 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: bump version to 1.3.10 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: move WiX Toolset installation to MSI creation step and remove package reference
  .github/workflows/build.yml
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: move WiX Toolset installation to MSI creation step and remove package reference (#105)
  .github/workflows/build.yml
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.3.11 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: add WixToolset UI extension to build command
  .github/workflows/build.yml
Labels: size: small, type: configuration, type: build, ci/cd

chore: bump version to 1.3.12 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: add winget submission preparation scripts and workflow
  .github/scripts/README.md
  .github/scripts/prepare-winget-submission.ps1
  .github/winget-templates/README.md
  .github/workflows/winget-submission.yml
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: add winget submission preparation scripts and workflow (#108)
  .github/scripts/README.md
  .github/scripts/prepare-winget-submission.ps1
  .github/winget-templates/README.md
  .github/workflows/winget-submission.yml
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: enhance winget submission scripts with mandatory validation and improved documentation
  .github/scripts/generate-winget-manifests.ps1
  .github/scripts/prepare-winget-submission.ps1
Labels: ci/cd

chore: add support for unattended installation and enhance WiX configuration
  .gitignore
  installer/README.md
  installer/RVToolsMerge.Installer.wixproj
  installer/RVToolsMerge.wxs
Labels: size: small, type: documentation

.github/labeler.yml:

# GitHub PR Labeler Configuration
# Automatically applies labels to PRs based on changed files

# Priority Labels
'priority: high':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Security/**/*.cs', 'src/**/Data/**/*.cs']

'priority: medium':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Services/**/*.cs']

# Size Labels
'size: small':
- changed-files:
  - any-glob-to-any-file: ['**/*.md', '**/*.txt', '**/*.json', '**/*.yml']

'size: large':
- changed-files:
  - any-glob-to-any-file: ['**/*.csproj', '**/*.sln', 'src/Core/**/*.cs']

# Component Labels
'component: core':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Models/**/*.cs', 'src/**/Interfaces/**/*.cs']

'component: ui':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Console/**/*.cs', 'src/**/Interactive/**/*.cs']

'component: excel':
- changed-files:
  - any-glob-to-any-file: ['src/**/Excel/**/*.cs', 'src/**/ClosedXML/**/*.cs', 'src/**/RVTools/**/*.cs']

'component: data':
- changed-files:
  - any-glob-to-any-file: ['src/**/Data/**/*.cs', 'src/**/Repository/**/*.cs', 'src/**/Entities/**/*.cs']

# Type Labels
'type: feature':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs', '!**/*.Test.cs', '!**/*.Tests.cs']

'type: tests':
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*.cs'
    - 'src/**/*Test*.cs'
    - 'src/**/*Tests.cs'
    - '**/*.Test.cs'
    - '**/*.Tests.cs'
    - '**/TestData/**/*'

'type: documentation':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**/*'
    - '**/*.txt'
    - '**/README.*'
    - 'LICENSE*'
    - '**/CHANGELOG.*'
    - '**/CONTRIBUTING.*'

'type: configuration':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yml'
    - '**/*.yaml'
    - '**/*.config'
    - '**/appsettings*.json'
    - '**/launchSettings.json'
    - '**/.editorconfig'

'type: build':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.csproj'
    - '**/*.sln'
    - '**/Directory.Build.props'
    - '**/Directory.Build.targets'
    - '**/nuget.config'
    - '**/global.json'
    - 'Dockerfile*'
    - '.github/workflows/**/*'

'type: dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.lock.json'
    - '**/package.json'
    - '**/package-lock.json'
    - '**/yarn.lock'
    - '**/Directory.Packages.props'
    - '**/PackageReference.props'

# CI/CD Labels
'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/**/*'
    - 'azure-pipelines.yml'
    - '.github/workflows/**/*'
    - '.github/dependabot.yml'
    - 'scripts/**/*'

# Security Labels
'security':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Security/**/*.cs'
    - 'src/**/Authentication/**/*.cs'
    - 'src/**/Authorization/**/*.cs'

# Performance Labels
'performance':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Performance/**/*.cs'
    - 'src/**/Optimization/**/*.cs'
    - 'src/**/Parallel/**/*.cs'

# Refactoring Labels
'refactoring':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs']

# External Dependencies
'external-dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.config'
    - '**/paket.dependencies'
    - '**/paket.lock'

# RVTools Specific
'rvtools-data':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/RVTools/**/*.cs'
    - 'src/**/VMware/**/*.cs'
    - 'src/**/Export/**/*.cs'
    - 'testdata/**/*.xlsx'
    - 'testdata/**/*.xls'

# Breaking Changes
'breaking-change':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Interfaces/**/*.cs'
    - 'src/**/Contracts/**/*.cs'
    - 'src/Core/**/*.cs'
