Repository sbroenne/RvToolsMerge, changes with the labels that .github/labeler.yml gives for each.
All labels: priority: high, priority: medium, size: small, size: large, component: core, component: ui, component: excel, component: data, type: tests, type: documentation, type: configuration, type: build, type: dependencies, ci/cd, security, performance, external-dependencies, rvtools-data, breaking-change

docs: add PowerShell 7 installation step for GitHub Actions workflows
  docs/azure-github-runner-deployment.md
Labels: size: small, type: documentation

Update Azure GitHub runner configuration and add PowerShell 7 installation step (#127)
  docs/azure-github-runner-deployment.md
Labels: size: small, type: documentation

Add code signing support for Windows artifacts during release builds (#129)
  .github/workflows/build.yml
  .github/workflows/version-management.yml
  docs/azure-github-runner-deployment.md
  docs/continuous-integration.md
  docs/github-workflows.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

Fix MSI installer upgrade support by implementing dynamic ProductCode generation (#131)
  .github/winget-templates/README.md
  CONTRIBUTING.md
  installer/README.md
  installer/RVToolsMerge.wxs
  tests/RVToolsMerge.IntegrationTests/InstallerConfigurationTests.cs
Labels: size: small, type: tests, type: documentation, ci/cd

deploy: 8f1b071b79f6bde410e5b2d9b7017d094ef3289c
  coverage.svg
Labels: none

chore: bump version to 1.3.21 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Add --version command line argument (#134)
  README.md
  src/RVToolsMerge/ApplicationRunner.cs
  src/RVToolsMerge/Services/CommandLineParser.cs
  src/RVToolsMerge/Services/ConsoleUIService.cs
  src/RVToolsMerge/Services/Interfaces/ICommandLineParser.cs
  tests/RVToolsMerge.IntegrationTests/CommandLineTests.cs
  tests/RVToolsMerge.IntegrationTests/PathValidationTests.cs
Labels: priority: medium, size: small, component: core, type: tests, type: documentation, breaking-change

deploy: c212545f0831144bc3d9e58e62de0d0a70a8c5f3
  coverage.svg
Labels: none

chore: bump version to 1.3.22 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: bump version to 1.4.0 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

refactor: remove debug_hosts.cs file and associated logic
  debug_hosts.cs
Labels: none

Fix winget configuration ProductCode inconsistency causing submission failures (#141)
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/README.md
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
  .github/workflows/winget-submission.yml
  docs/continuous-integration.md
  docs/winget-submission-setup.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: revert version numbers to 1.3.22 in project file
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: revert version numbers to 1.3.22 in project file (#142)
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: bump version to 1.3.23 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Validate and enhance winget manifest generation and submission process (#145)
  .github/scripts/validate-winget-setup.ps1
  .github/winget-templates/RvToolsMerge.RvToolsMerge.locale.en-US.yaml.template
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
  tests/RVToolsMerge.IntegrationTests/WingetManifestGenerationTests.cs
Labels: size: large, type: tests, type: build, ci/cd

chore: bump version to 1.3.24 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

Add comprehensive winget submission validation infrastructure (#147)
  .github/scripts/comprehensive-winget-validation.ps1
  .github/scripts/generate-winget-manifests.ps1
  .github/scripts/validate-winget-setup.ps1
  .gitignore
  tests/RVToolsMerge.IntegrationTests/WingetManifestGenerationTests.cs
  tests/RVToolsMerge.IntegrationTests/WingetSubmissionValidationTests.cs
Labels: type: tests, ci/cd

chore: bump version to 1.3.25 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: remove comprehensive winget validation script and related integration tests
  .github/scripts/comprehensive-winget-validation.ps1
  tests/RVToolsMerge.IntegrationTests/WingetManifestGenerationTests.cs
  tests/RVToolsMerge.IntegrationTests/WingetSubmissionValidationTests.cs
Labels: type: tests, ci/cd

refactor: update winget manifest generation to always validate and remove -ValidateWithWinget switch
  .github/scripts/README.md
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/README.md
  .github/workflows/version-management.yml
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: remove unused FluentAssertions package reference from integration tests
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
Labels: size: large, type: build

chore: remove YamlDotNet package reference from integration tests
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
Labels: size: large, type: build

Remove winget validation script and update manifest generation (#150)
  .github/scripts/README.md
  .github/scripts/comprehensive-winget-validation.ps1
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/README.md
  .github/workflows/version-management.yml
  tests/RVToolsMerge.IntegrationTests/RVToolsMerge.IntegrationTests.csproj
  tests/RVToolsMerge.IntegrationTests/WingetManifestGenerationTests.cs
  tests/RVToolsMerge.IntegrationTests/WingetSubmissionValidationTests.cs
Labels: size: small, size: large, type: tests, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.3.26 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

feat: add ProductCode extraction for x64 and ARM64 MSIs in winget manifest generation
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
Labels: ci/cd

feat: add ProductCode extraction for x64 and ARM64 MSIs in winget manifest generation (#152)
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
Labels: ci/cd

chore: bump version to 1.3.27 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

refactor: improve input validation and error handling in winget manifest generation script
  .github/scripts/generate-winget-manifests.ps1
Labels: ci/cd

refactor: improve input validation and error handling in winget manifest generation script (#154)
  .github/scripts/generate-winget-manifests.ps1
Labels: ci/cd

chore: bump version to 1.3.28 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

refactor: clean up ProductCode extraction in MSI processing function
  .github/scripts/generate-winget-manifests.ps1
Labels: ci/cd

refactor: clean up ProductCode extraction in MSI processing function (#156)
  .github/scripts/generate-winget-manifests.ps1
Labels: ci/cd

chore: bump version to 1.3.29 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

chore: bump version to 1.4.0 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

refactor: improve ProductCode handling in winget manifest templates and update documentation
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
  .github/workflows/version-management.yml
  .vscode/settings.json
  CHANGELOG.md
  README.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

refactor: improve ProductCode handling in winget manifest templates and update documentation (#159)
  .github/scripts/generate-winget-manifests.ps1
  .github/winget-templates/RvToolsMerge.RvToolsMerge.installer.yaml.template
  .github/workflows/version-management.yml
  .vscode/settings.json
  CHANGELOG.md
  README.md
Labels: size: small, type: documentation, type: configuration, type: build, ci/cd

chore: bump version to 1.4.1 [skip ci]
  src/RVToolsMerge/RVToolsMerge.csproj
Labels: size: large, type: build

fix: correct variable return in Get-MsiProductCode function
  .github/scripts/generate-winget-manifests.ps1
Labels: ci/cd

fix: correct variable return in Get-MsiProductCode function (#161)
  .github/scripts/generate-winget-manifests.ps1
Labels: ci/cd

.github/labeler.yml:

# GitHub PR Labeler Configuration
# Automatically applies labels to PRs based on changed files

# Priority Labels
'priority: high':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Security/**/*.cs', 'src/**/Data/**/*.cs']

'priority: medium':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Services/**/*.cs']

# Size Labels
'size: small':
- changed-files:
  - any-glob-to-any-file: ['**/*.md', '**/*.txt', '**/*.json', '**/*.yml']

'size: large':
- changed-files:
  - any-glob-to-any-file: ['**/*.csproj', '**/*.sln', 'src/Core/**/*.cs']

# Component Labels
'component: core':
- changed-files:
  - any-glob-to-any-file: ['src/Core/**/*.cs', 'src/**/Models/**/*.cs', 'src/**/Interfaces/**/*.cs']

'component: ui':
- changed-files:
  - any-glob-to-any-file: ['src/UI/**/*.cs', 'src/**/Console/**/*.cs', 'src/**/Interactive/**/*.cs']

'component: excel':
- changed-files:
  - any-glob-to-any-file: ['src/**/Excel/**/*.cs', 'src/**/ClosedXML/**/*.cs', 'src/**/RVTools/**/*.cs']

'component: data':
- changed-files:
  - any-glob-to-any-file: ['src/**/Data/**/*.cs', 'src/**/Repository/**/*.cs', 'src/**/Entities/**/*.cs']

# Type Labels
'type: feature':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs', '!**/*.Test.cs', '!**/*.Tests.cs']

'type: tests':
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*.cs'
    - 'src/**/*Test*.cs'
    - 'src/**/*Tests.cs'
    - '**/*.Test.cs'
    - '**/*.Tests.cs'
    - '**/TestData/**/*'

'type: documentation':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**/*'
    - '**/*.txt'
    - '**/README.*'
    - 'LICENSE*'
    - '**/CHANGELOG.*'
    - '**/CONTRIBUTING.*'

'type: configuration':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yml'
    - '**/*.yaml'
    - '**/*.config'
    - '**/appsettings*.json'
    - '**/launchSettings.json'
    - '**/.editorconfig'

'type: build':
- changed-files:
  - any-glob-to-any-file:
    - '**/*.csproj'
    - '**/*.sln'
    - '**/Directory.Build.props'
    - '**/Directory.Build.targets'
    - '**/nuget.config'
    - '**/global.json'
    - 'Dockerfile*'
    - '.github/workflows/**/*'

'type: dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.lock.json'
    - '**/package.json'
    - '**/package-lock.json'
    - '**/yarn.lock'
    - '**/Directory.Packages.props'
    - '**/PackageReference.props'

# CI/CD Labels
'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/**/*'
    - 'azure-pipelines.yml'
    - '.github/workflows/**/*'
    - '.github/dependabot.yml'
    - 'scripts/**/*'

# Security Labels
'security':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Security/**/*.cs'
    - 'src/**/Authentication/**/*.cs'
    - 'src/**/Authorization/**/*.cs'

# Performance Labels
'performance':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Performance/**/*.cs'
    - 'src/**/Optimization/**/*.cs'
    - 'src/**/Parallel/**/*.cs'

# Refactoring Labels
'refactoring':
- changed-files:
  - any-glob-to-any-file: ['src/**/*.cs']
  - all-globs-to-any-file: ['!src/**/*Test*.cs', '!tests/**/*.cs']

# External Dependencies
'external-dependencies':
- changed-files:
  - any-glob-to-any-file:
    - '**/packages.config'
    - '**/paket.dependencies'
    - '**/paket.lock'

# RVTools Specific
'rvtools-data':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/RVTools/**/*.cs'
    - 'src/**/VMware/**/*.cs'
    - 'src/**/Export/**/*.cs'
    - 'testdata/**/*.xlsx'
    - 'testdata/**/*.xls'

# Breaking Changes
'breaking-change':
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/Interfaces/**/*.cs'
    - 'src/**/Contracts/**/*.cs'
    - 'src/Core/**/*.cs'
