Repository sbroenne/RvToolsMerge, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, ci-cd, tests, configuration, core

Updated github actions
  .github/workflows/build.yml
  .github/workflows/license-compliance.yml
  README.md
  README_github.md
Labels: documentation, ci-cd

Fixed typo
  README.md
  README_github.md
  SECURITY.md
Labels: documentation

Only build on changes to .NET files
  .github/workflows/dotnet.yml
  README.md
  README_github.md
  SECURITY.md
Labels: documentation, ci-cd

Updated release pipeline to publish .exe file
  .github/workflows/release.yml
Labels: ci-cd

Zip the release
  .github/workflows/release.yml
Labels: ci-cd

Updated dev infrastructure
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/generate-sbom.yml
  .github/workflows/nuget-vulnerability-scan.yml
  .github/workflows/pr-validation.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/vulnerability-scan.yml
  .vscode/extensions.json
  README.md
Labels: documentation, ci-cd, configuration

Add Linux and ARM version
  .github/workflows/build.yml
  RVToolsMerge.csproj
Labels: dependencies, ci-cd

Added release for Mac
  .github/workflows/build.yml
  README.md
  README_github.md
Labels: documentation, ci-cd

Fix multiple issues and added new functionality
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  Program.cs
  Properties/launchSettings.json
  README.md
  RVToolsMerge.csproj
Labels: documentation, dependencies, configuration, core

Suppress Trimmer Warnings since the code will still work
  RVToolsMerge.csproj
Labels: dependencies

Use Spectre.Console
  Program.cs
  RVToolsMerge.csproj
Labels: dependencies, core

Updated docs
  Program.cs
  README.md
Labels: documentation, core

Process a single file
  Program.cs
  README.md
  README_github.md
  sync-readme.ps1
Labels: documentation, core

Updated CI
  .github/workflows/dotnet.yml
Labels: ci-cd

Updated docs
  Program.cs
  README.md
  README_github.md
Labels: documentation, core

Updated docs
  Program.cs
  README.md
  README_github.md
Labels: documentation, core

Better validation
  .vscode/launch.json
  .vscode/tasks.json
  Program.cs
  Properties/launchSettings.json
  README.md
  README_github.md
Labels: documentation, configuration, core

Keep original cell data type intact
  Program.cs
Labels: core

Optimization
  .vscode/launch.json
  Program.cs
Labels: configuration, core

Added Copilot instructions
  .github/copilot-instructions.md
  README.md
  README_github.md
  sync-readme.ps1
Labels: documentation

.github/labeler.yml:

documentation:
  - 'README*.md'
  - 'docs/**/*'

dependencies:
  - 'RVToolsMerge.csproj'
  - 'global.json'
  - 'Directory.Build.props'
  - any: ['.github/dependabot.yml']

ci-cd:
  - '.github/workflows/**'

tests:
  - 'tests/**/*'

configuration:
  - 'Properties/**/*'
  - '.vscode/**'
  - '.editorconfig'
  
core:
  - 'Program.cs'
